.min-pay a {
    color: #3ab7f8
}

.min-pay .money {
    color: #ff3b30
}

.min-pay .el-step__head.is-success {
    color: #3ab7f8;
    border-color: #3ab7f8
}

.min-pay .el-step__title.is-success {
    color: #3ab7f8
}

.min-pay .el-step__head.is-process {
    color: #c0c4cc;
    border-color: #c0c4cc
}

.min-pay .el-step__title.is-process {
    color: #c0c4cc
}

.min-pay .card {
    margin-bottom: 10px
}

.min-pay h5 {
    margin-bottom: 5px;
    font-size: 14px
}

.min-pay .title {
    font-size: 14px;
    margin: 18px 0 13px 0
}

.min-pay .pay-tooltip {
    height: 50px;
    line-height: 50px;
    background: #eaf8ff;
    border-radius: 2px;
    border: 1px solid #94dbff;
    padding: 0 16px;
    margin-bottom: 10px
}

.min-pay .pay-type {
    display: flex;
    justify-content: space-between
}

.min-pay .pay-type .table {
    width: 49%
}

.min-pay .table {
    padding: 0 10px;
    margin: 0;
    border-radius: 2px;
    border: 1px solid #e9e9e9;
    background: #fff
}

.min-pay .table .header {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #e9e9e9
}

.min-pay .table .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px
}

.min-pay .table .wrapper .el-select {
    margin: 0 10px
}

.min-pay .amount span {
    font-size: 14px
}

.min-pay .amount .money {
    font-weight: 500;
    font-size: 18px
}

.min-pay .result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px
}

.min-pay .result .order-container {
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid #e9e9e9;
    background: #fff
}

.min-pay .result .order-info {
    padding: 20px 0;
    border-radius: 2px;
    font-size: 12px;
    color: #666
}

.min-pay .result .order-info div:not(:last-child) {
    margin-bottom: 10px
}

.min-pay .result .order-info span {
    font-size: 14px;
    color: #333
}

.min-pay .tool {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px
}

.min-pay .tool .el-button {
    background: #3ab7f8;
    margin-left: 12px
}

.min-pay .inline {
    display: inline-block;
    font-size: 14px;
    color: #333
}

.min-pay .w-80 {
    width: 80px
}

.min-pay .text-right {
    text-align: right
}

.min-pay .code-tip {
    font-size: 14px
}

.min-pay .voucher-input {
    width: 210px;
    margin-right: 10px
}

.min-pay .voucher-button {
    background: none
}

.min-pay .ml-47 {
    margin-left: 47px
}

.min-pay .voucher-errMsg {
    color: #ff3b30;
    margin-top: 5px;
    padding-right: 90px
}

.min-pay .money-label {
    width: 200px;
    text-align: right
}

.min-pay .flex-box {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.min-pay .voucher-title {
    color: #333;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 10px
}

.min-pay .color-primary {
    color: #099dfd !important;
    font-weight: 500
}