* {
    font-family: PomfretV2;
    src: url(PomfretV2-Regular.woff);
    color: antiquewhite;
    margin: 0;
    padding-left: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
/* video background */
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#iframe .top-bar {
    width: 100%;
    height: 60px;
    background: #120909;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 15%);
    padding: 0;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    font-family: PomfretV2;
    font-weight: normal;
    font-style: normal;
}

.container {
    padding: 230px 19px;
    color: #fff;
}

input[type='password'] {
    width: 100%;
    box-sizing: border-box;
    height: 55px;
    display: inline-block;
    border: 3px solid #2F96EF;
    border-radius: 5px;
    padding: 0 15px;
    margin: 10px 0;
    transition: .2s;
}

input[type='password']:focus {
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 990px;
    min-width: 480px;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1rem;
}

.container header {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.container header i {
    color: #0056f5;
}

.hidden {
    display: none !important;
}

.holder {
    border-radius: 15px;
    background: #0c1214;
    background-image: url(/assets/behGlaslarge.gif);
    width: 100%;
    min-height: 30px;
    border: 0px solid #333;
}

.holder--video {
    position: relative;
    overflow: hidden;
    margin-bottom: 0.5rem;
    min-height: 500px;
    color: #fee440;
}

.holder--video-me {
    position: absolute;
    right: 1.5rem;
    top: 3.5rem;
    width: 125px;
    height: 125px;
    overflow: hidden;
    border: 3px solid rgba(250, 215, 170, 0.692);
    border-radius: 15px;
    background: #1a202c;
    background-image: url(/assets/Gorillo.gif);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-style: italic;
}

.holder--video-me.connecting:before {
    content: "Connecting...";
}

.holder--video-remote {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 500px;
}

.holder--video-remote.waiting:before {
    content: "Waiting...";
}

.holder--video-remote.full:before {
    content: "Room is full!";
}

.holder--video-remote video {
    position: relative !important;
    display: block;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -o-object-fit: cover;
    object-fit: cover;
}

.holder--options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem 0;
    background-image: url(/assets/banner.gif);
}

.holder--options-option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: none;
    outline: none;
    border: 0px;
    background: none;
    color: #fff;
}

.holder--options-option i {
    background: #1a202cc7;
    border-radius: 50%;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    width: 64px;
    height: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: rgb(245, 160, 111);
    -webkit-box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.holder--options-option.active i {
    color: #0056f5;
}

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

select.form-control {
    -webkit-appearance: menulist-button;
    height: 55px;
}

.form-control:focus {
    outline: none;
}

.form-group {
    position: relative;
    margin-bottom: 1.5rem;
    height: 56px;
}

.form-control-placeholder {
    position: absolute;
    bottom: 1.25em;
    left: 0;
    padding: 7px 0 0 13px;
    transition: all 250ms;
    opacity: 0.5;
}

span.error-msg {
    color: rgb(224, 32, 32);
    font-size: 12px;
    font-weight: 500;
    transition: all .5s;
    opacity: 0;
}

.form-control:focus+.form-control-placeholder,
.form-control:valid:not(:placeholder-shown)+.form-control-placeholder,
.form-control:not(:placeholder-shown)+.form-control-placeholder,
.form-control:invalid:not(:placeholder-shown)+.form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
}

.form-control:invalid:focus {
    border-bottom: 2px solid #cfcfcf;
}

.showpwd {
    position: absolute;
    right: 25px;
    top: 20px;
    cursor: pointer;
}

hr {
    margin: 50px auto;
}

/*# sourceMappingURL=styles.css.map */