*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
@font-face { font-family: 'PomfretV2'; src: url('/styles/customFont/Pomfret-Regular.woff2'); font-style: regular; font-weight: normal; font-display: swap;
}

html,

body{
    background:url('/assets/moshed-2021-11-10-0-40-55.png');
    background-repeat: no-repeat;
    background-size:cover;
    overflow:hidden;
    height: 100vh;
    font-family: PomfretV2;
    font-weight: normal;
    font-style: normal;
}

.container{
    padding: 20px 70px;
    color:#fff;
}

.current-info{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    background: #232527c2;
}
.date-container{
    font-weight: 100;
}
.date-container .time{
    font-size: 70px;
}

.date-container #am-pm{
    font-size: 30px;
    margin-left: 20px;
}

.date-container .date{
    font-size: 30px;
}

.place-container{
    text-align: end;
}

.place-container .time-zone{
    font-size: 35px;
    font-weight: 100;
}

.place-container .country{
    font-size: 21px;
    font-weight: 300;
}

.current-info .others{
    display: contents;
    flex-direction: column;
    background-blend-mode: color-dodge;
    padding:20px;
    border-radius: 10px;
    margin: 10px 0;
    border: 1px solid #eee;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
}

.current-info .others .weather-item{
    display: flex;
    justify-content: space-between;
}

.future-forecast{
    background: rgba(24,24,27,0.8);
    padding: 25px;
    position: flex;
    bottom: 0;
    display: flex;
    color:white;
    width: auto;;
    align-items: center;
    justify-content: center;
    overflow-y: inherit;
}

.future-forecast .today{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    border-radius: 10px;
    padding:15px;
    padding-right: 40px;
    border-radius: 10px;
    background: rgba(0,0,0,0.2)
}

.future-forecast .today .day{
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
}

.future-forecast .today .temp{
    font-size: 18px;
    padding-top: 15px;
}

.future-forecast .weather-forecast{
    display: flex;
}

.weather-forecast .weather-forecast-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border: 1px solid #eee;
    padding: 15px;
    border-radius: 10px;
    background: rgba(0,0,0,0.2)
}

.weather-forecast .weather-forecast-item .day{
    padding: 5px 15px;
    background: #3C3C44;
    border-radius: 50px;
    text-align: center;
}

.weather-forecast .weather-forecast-item .temp{
    font-weight: 100;
    font-size: 12px;
}

#iframe.top-bar {
    width: 100%;
    padding: 3vh ;
    padding-top: 4vh;
}

.holder{
    background: #0c1214;
    background-repeat: no-repeat;
    background-size: poster;
    background-image: url(/assets/behGlaslarge.gif);
    border: 0px solid #333;
}

@media only screen and  (max-width:1080px){
    
    .container{
        padding: 20px;
    }
    
    .future-forecast{
        justify-content: start;
        align-items: none;
        overflow-y: hidden;
    }

    .future-forecast .today .temp{
        font-size: 16px;
    }

    .date-container .time{
        font-size: 50px;
    }

    .date-container #am-pm{
        font-size: 20px;
    }

    .date-container .date{
        font-size: 20px;
    }

    .place-container{
        text-align: end;
        margin-top: 15px;
    }

    .place-container .time-zone{
        font-size: 20px;
    }

    .current-info .others{
        padding: 12px;
    }

    .current-info .others .weather-item{
        font-size: 14px;
    }

}

@media only screen and (max-width: 480px){
    .future-forecast{
        justify-content: start;
        align-items: none;
        overflow-x: scroll;
    }
}